.item {
  position: relative;
  text-align: start;
  background: #5a5959;
  padding: 8px 15px;
  border-radius: 6px;
  color: var(--color-main);
  cursor: pointer;
  transition: 0.3s all;
}

.item:hover {
  background-color: rgb(243, 158, 60);
  color: black;
}

.item:active {
  background-color: rgb(255, 138, 5);
  color: black;
}

.itemLink {
  color: inherit;
  text-decoration: none;
}




.itemLink_info {
  display: flex;
  column-gap: 8px;
  font-size: 12px;
}
