.App {
  text-align: center;
  height: 100%;
}

.loading-container {
  height: calc(100% - 56px);
}

.App-header {
}

.main {
  padding-top: 45px;
  width: 100%;
  height: calc(100% - 56px);
}

@media (max-width: 768px) {
  .main {
    padding-top: 25px;
  }
}

.custom-Input-Label {
  color: rgb(243, 158, 60) !important;
}

.MuiOutlinedInput-notchedOutline  {
  border-color: var(--color-main) !important;
  
}

.MuiOutlinedInput-notchedOutline:hover  {
  border-color: red !important;
  
}

.MuiInputBase-root {
  color: rgb(243, 158, 60) !important;
}

.MuiSvgIcon-root {
  color: rgb(243, 158, 60) !important;
}

.MuiFormLabel-root {
  color: rgb(243, 158, 60) !important;
}

/* .base-Popper-root {
  background-color: red !important;
}

.MuiAutocomplete-popper {
  background-color: red !important;
} */