:root {
  --background-color-100: #1a1a1a;
  --background-color-50: rgba(59, 58, 58, 0.5);
  --color-main: #b8b5b5;
  height: 100%;
}

#root {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color-100);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
